{% extends "base.html" %}
{% load static %}
{% comment %} TODO: 5. base.html 템플릿을 만들어 모든 페이지에서 상속받아 보여주세요 {% endcomment %}
<!--
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% comment %} TODO: 6. bootstrap 스타일을 적용해주세요	 {% endcomment %}
</head>

<body>
-->
{% block contents %}
<div id="container">
    {% comment %} TODO: 4. /index 페이지에는 로그인 한 유저 이름을 출력해야 합니다. ex) hello, 홍길동 {% endcomment %}
    <div class="col-lg-2">
    {% if user.is_authenticated %}
        <h2 style="color:blue;">Hello, {{ user.username }}</h2>
    {% else %}
        <h2 style="color:blue;">Hello</h2>
    {% endif %}
    </div>


</div>
<style>
#container{
    background: url("/static/images/Final-project-2020-2000x1200.jpg") scroll;
    background-size: cover;
    min-height: 700px;
}
</style>
{% endblock %}

